:root {
  --primary-light-color: #b7dcfa;
  --primary-color: #0b57d0;
  --hover-color-component: #e6edfa;
  --hover-color-icon: #e9ebed;
  --text-color: #5f6368;

  --background-color: #f8fafd;
  --white: #fff;

  --transition: all 0.5s ease-in-out;
  --font-family: "Roboto", sans-serif;

  --border-radius: 5px;

  /* Default Font */
  font-family: var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

/* Background */
.bg-page-full {
  background-color: var(--background-color);
}

.main-section {
  background-color: var(--white);
  min-height: 85vh;
  padding: 2rem;
  border-radius: var(--border-radius);
}

/* Marge */
.padding-container {
  padding: 1rem;
}

.margin-top-bottom-1rem {
  margin: 1rem 0;
}

/* Disposition */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-s-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

/* Width */
.w-8 {
  width: 8%;
}
.w-10 {
  width: 10%;
}

.w-11 {
  width: 11%;
}

.w-15 {
  width: 11%;
}

.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.w-4rem {
  width: 10rem;
}

/* Behevior */

.pointer {
  cursor: pointer;
}

.icon {
  padding: 0.5rem;
  border-radius: 50%;
  transition: var(--transition);
  color: var(--text-color);
}

.icon:hover {
  background-color: var(--hover-color-icon);
}

/* Title */

.title {
  color: var(--text-color);
  font-style: normal;
}

.title span {
  font-size: 1rem;
  font-weight: 800;
  text-decoration: wavy;
}

.title-level-1 {
  font-size: 1.7rem;
  font-weight: 400;
}

.title-level-2 {
  font-size: 2rem;
}

.text {
  color: var(--text-color);
}

.text-align-center {
  text-align: center;
}

/* Field input */

.input-field input,
.input-field input:focus {
  border: initial;
  background-color: initial;
  outline: none;
}
.input-field {
  background-color: #f1f3f4;
  padding: 0.5rem;
  width: 40%;
  height: 3rem;
  border-radius: var(--border-radius);
}

/* Buttons */

.button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-radius-10 {
  border-radius: 10rem;
}

.button-radius-07 {
  border-radius: 0.7rem;
}

.no-border {
  color: var(--primary-color);
  font-weight: 500;
}

.contain {
  background-color: var(--primary-light-color);
  font-weight: 500;
}

.button-hover-shadow {
  transition: var(--transition);
}

.button-hover-shadow:hover {
  box-shadow: -6px 10px 11px -2px rgba(161, 161, 161, 1);
}

.no-border:hover {
  background-color: var(--primary-light-color);
}
/* Illustration */

.illus-size-2rem {
  width: 30rem;
}

.illus-size-2rem img {
  width: 100%;
}
